body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  background-color: #ececec;
  color: #385170;
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 900;
  color: #142d4c;
  font-size: 2.4rem;
}
.city {
  margin-bottom: 5px;
  font-size: 1.7em;
  text-transform: capitalize;
}

.date {
  margin-top: 5px;
}

.time {
  color: #385170;
  font-weight: bold;
  margin: 20px;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin: 10px 0;
}

a {
  color: #9fd3c7;
}

#app-container {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgb(159, 211, 199) 0px 2px 8px 0px;
  margin-top: 40px;
  padding: 30px 0;
  background-color: white;
  border-radius: 4px;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

header div img {
  max-width: 70px;
}

/* main */
#select-form {
  border: 1px solid #9fd3c7;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 10px 0 10px 0;
  width: 24rem;
  color: #385170;
}

main p {
  font-size: small;
  text-align: center;
  font-style: bold;
  margin-bottom: 10px;
  margin-top: 30px;
}

main p span {
  font-style: italic;
  color: #142d4c;
  text-transform: capitalize;
}

.city-time-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.city-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date {
  font-size: 0.9rem;
  color: #385170;
}
.time {
  font-size: 2rem;
}

/* footer */
footer {
  font-size: x-small;
  text-align: center;
  margin-top: 10px;
}
